body {
  font-family: sans-serif;
  background-color: #ffffff;
}
body .container {
  padding-top: 20vh;

}
a {
  text-decoration: none;
}
label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.title-text {
  font-family: 'Pacifico', cursive;
  font-size: 30;
}

.splash-bg-1 {
  min-height: 100vh;
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1518056914555-de1d7f0b3967?ixlib=rb-0.3.5…EyMDd9&s=fd08518…&auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
}
.splash-bg-3 {
  min-height: 100vh;
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1504595403659-9088ce801e29?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d812e1079e635c6fb59ded315f72316f&auto=format&fit=crop&w=1268&q=80');
  background-size: cover;
  background-position: center;
}
